<!DOCTYPE html>
<html lang="en">
    <head></head>
    {{!-- 
<style>
    .c{
        background-color: inherit;
    }
</style> --}}
    <body>

        <div style="width: 100% !important;">
            <div style="min-width: 600px !important;max-width: 600px !important; height: 500px !important; margin: auto; padding:20px ;">
                <div style="width: 100%; height:80px;background:  #003897 !important;">
                    <div style="height: 100%;display: flex;align-items: center !important;place-content: center !important;">
                   
                    <span style="color: white;font-size: 25px;font-weight: 600;align-self: center;margin: auto;"> 
                        {{!-- <img
                        src=""
                        alt=""
                        width="50px"
                        height="50px" style="vertical-align: middle !important;">  --}}
                        Samuel Cash Flag</span>

                </div>
            </div>

            <br>
            <h1>Formulario de prueba </h1>

            <p>
                Hola <span style="font-weight: 600;">{{nombre}}</span> <span style="font-weight: 600;">{{apellido}}</span>, Esta son tus datos suministrados
            </p>

            <p>
               Nombre : <span style="font-weight: 600;">{{nombre}}</span>
            </p>
            <p>
               apellido: <span style="font-weight: 600;">{{apellido}}</span>
            </p>
            <p>
               correo: <span style="font-weight: 600;">{{correo}}</span>
            </p>
            <p>
               Mensaje: <span style="font-weight: 600;">{{mensaje}}</span>
            </p>
          
           
          

        </div>
    </div>
</body>
</html>


